<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Objectify Filter start-->
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Objectify filter end-->
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>
                api.UserApi,
                api.ApiBaseV1,
                api.AuthApi,
                api.PresentationApi,
                api.SlideApi,
                api.SessionApi,
                api.QuestionApi,
                api.ConfigApi,
                api.FacebookApi,
                api.QuizApi
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Presentation</servlet-name>
        <servlet-class>servlet.PresentationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Presentation</servlet-name>
        <url-pattern>/presentation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>servlet.SessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FacebookWebhook</servlet-name>
        <servlet-class>webhook.Facebook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacebookWebhook</servlet-name>
        <url-pattern>/facebook_webhook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendFeedbackMessageFb</servlet-name>
        <servlet-class>servlet.SendFeedbackFbMessenger</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendFeedbackMessageFb</servlet-name>
        <url-pattern>/send_feedback_message_fb</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckAndRegisterFbUser</servlet-name>
        <servlet-class>servlet.CheckAndRegisterFbUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckAndRegisterFbUser</servlet-name>
        <url-pattern>/check_and_register_fb_user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>export</servlet-name>
        <servlet-class>servlet.Export</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>export</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>exportQuiz</servlet-name>
        <servlet-class>servlet.ExportQuiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exportQuiz</servlet-name>
        <url-pattern>/export_quiz</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
